################################################################################
# Ce fichier .gitignore a été automatiquement créé par Microsoft(R) Visual Studio.
################################################################################

/.vs
/TP1/.vs/TP1
/TP1/TP1/obj/Debug
